body{
    padding:0!important;
    margin:0!important;
}
.intro{
    padding:100px 0;
   display: flex;
   flex-direction: column;
   justify-content: space-around;

}

.slogan{

    margin-bottom:5px!important;
    color:#fff!important;
    font-weight: 700!important;
    font-size: 60px!important;
}
.bottom__gradient{
    height:60vh!important;
    
    background: none!important;
   margin-left: 50%;
   transform: translateX(-50%);
   padding: none!important;
    width: fit-content!important;
}


.slogan-p{
    text-align: center;
    color:#fff!important;
    font-weight: 300!important;
    font-size: 20px!important;
    font-weight:300;
}

.qodef-grid-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:0 100px;
}

.footer-logo{
    text-transform: uppercase;
    color:#fff;

}

.who-we-are{
    padding-top:0px;
    margin-top:0px;
    font-weight: 600!important;
    color:#bcb832!important ;
    width:100%;text-align: center;
}

.about-p{
    width: 100%;font-weight: 200;
    width: 80%;
    text-align: center;
    margin: 0 auto!important;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;

    text-align-last: center;
    
}

.carousel{
    padding:100px;
  
}

.partner{
    width:100%;
    height:100px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
  
}

nav{
    padding-bottom:10px;
    box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.43);
    -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.43);
}



.swiper-slide {
margin:0 10px;
max-height: 50vh!important;
overflow: hidden;

}

.swiper-container {background-color: #fff;}


.header-linkss{
    text-transform: uppercase;
}

::-moz-selection { /* Code for Firefox */
    color:#fff!important;
    background: #bcb832!important;
  }
  
  ::selection {
    color:#fff!important;
    background: #bcb832!important;
  }





  @media screen and ( min-width:500px) {
    .fusion-header-has-flyout-menu .fusion-flyout-menu-bg, .fusion-header-has-flyout-menu .fusion-flyout-menu{
        display: none!important;
    }
  }

  @media screen and (max-width:500px) {
   
    .fusion-header-has-flyout-menu-content{
        padding:0 25px!important;
    }
    .fusion-mobile-menu-design-flyout.fusion-header-v7 .fusion-main-menu{
        box-shadow: none!important;
    }
    .fusion-main-menu .fusion-main-menu-sticky{
        box-shadow: none!important;
    }
    .header-logo{
        height: 60px;
    }
    .intro{
        padding-top: 100px!important;
    }
    .top-flex,.bottom-flex{
        grid-template-columns:1fr;
        padding:0
    }
    .qodef-grid-inner{
        grid-template-columns: 1fr;
        text-align: center!important;
    }.textwidget{
        padding-top:0!important
    }
    .textwidget a{
        text-align: center!important;
    }
    .cont{
        padding-top: 0!important;
    }
  }

  .fusion-toggle-icon-line{
    color:#000!important;
    fill:#000!important;
  }

