body{
    padding:0!important;
    margin:0!important;
}
.intro{
    padding:100px 0;
   display: flex;
   justify-content: space-around;
}

.slogan{
    margin-left:100px;
    margin-bottom:5px!important;
    color:#fff!important;
    font-weight: 700!important;
    font-size: 60px!important;
}
.bottom__gradient{
    height:35vh!important;
}


.slogan-p{
    margin-left:100px!important;
    color:#fff!important;
    font-weight: 300!important;
    font-size: 20px!important;
    font-weight:300;
}

.qodef-grid-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:0 100px;
}

.footer-logo{
    text-transform: uppercase;
    color:#fff;

}

.who-we-are{
    padding-top:70px;
    font-weight: 600!important;
    color:#bcb832!important ;
}


.carousel{
    padding:100px;
  
}

.partner{
    width:100%;
    height:100px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
  
}