.intro{
    padding: 70px!important;
}

html.avada-is-100-percent-template #main.width-100{
    padding-left: 0!important;
    padding-right: 0!important;
}

.colord{
    background-color: #bcb832!important;
    color:#fff!important;
}

.colord .who-we-are{
    color: #fff!important;
}

.title{
    margin-top:200px;width: 100%;text-align: center;color:#bcb832!important;margin-bottom:100px
}